{% extends 'base.html.twig' %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container"> 
  <div class="row">
    <div class="container_entreprise col-lg-7 col-12 col-sm-12">
      <h1 class="title_entreprise">The global world</h1>
      <p class="slogan_entreprise">
        <span class="d-block">Développer est notre passion et notre métier.</span>
        <span class="d-block">Profitez de notre expertise professionnelle pour vos projets.</span>
      </p>

        <div class="img-container d-flex">
          <img class="d-block" src="{{ asset('images/login/login_form.png') }}" alt="">

      </div>
    </div>
    <div class=" col-12 col-sm-12 col-lg-5">
        <form method="post">
          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
      
          {% if app.user %}
              <div class="mb-3">
                  Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
              </div>
          {% endif %}
          <img src="{{ asset('images/login/logo.png')}}" alt="logo_team">
          <h1 class="mb-3 font-weight-normal">Se connecter</h1>
          <label for="inputEmail"><i class="far fa-envelope"></i> Email</label>
          <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
          <label for="inputPassword" class="mt-2"><i class="fas fa-unlock-alt"></i> Mot de passe</label>
          <input type="password" name="password" id="inputPassword" class="form-control" required>
      
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              <div class="checkbox">
                  <label>
                      <input type="checkbox" name="_remember_me"> Se souvenir de moi
                  </label>
              </div>
              <div class="d-block mt-1 mb-3 link-new-account">
                <a href="#">Pas de compte ? S'inscrire.</a>
              </div>
            <button class="btn btn-xs btn-info d-flex m-auto" type="submit">
              Se connecter
          </button>
        </form>

    </div>
  </div>
</div>
{% endblock %}
