{% extends 'admin/matrix/base.html.twig' %}

{% block title %}Paramètres de traduction{% endblock %}

{% block body %}

    <div class="container">
        <h1>Paramètres de traduction</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="{{ path('admin_settings_translation') }}" method="POST">
                    <div class="form-row align-items-center">
                        <div class="col-auto">Langue de référence</div>
                        <div class="col-auto">
                            {% set displayRef = 'Langue par défaut' %}
                            {% if refLocale != '%locale%' %}
                                {% set displayRef = locales[refLocale] %}
                            {% endif %}
                            <select name="translation[ref_locale]" class="custom-select">
                                <option value="{{ refLocale }}" selected>{{ displayRef }}</option>
                                {% for code, name in locales %}
                                    <option value="{{ code }}">{{ name }}</option>
                                {% endfor %}
                                {% if refLocale != '%%' %}
                                    <option value="%locale%">Langue par défaut</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary">Mettre à jour</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
